<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<table class="table table-info">
   <thead class="table-dark">
   <tr>
       <th>Firstname</th>
       <th>Firstname</th>
       <th>Email</th>
       <th>Action</th>
   </tr>
   </thead>
    <tbody>
    {% for student in students %}
        <tr>
        <td>{{ student.firstname }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.email }}</td>

        <td>
            <a href="edit/{{ student.id }}"class=" btn btn-danger">EDIT</a>
            <a href="delete/{{ student.id }}"class=" btn btn-info">DELETE</a>
        </td>

        </tr>

    {% endfor %}

    </tbody>
</table>
<center><a href="index/"class="btn btn-info">Add New Student</a></center>
</body>

